#first__block{
    height: 300px;
    z-index: 1000;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

#big__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#big__block__wrapper{
    position: fixed;
    top: -25%;
    left:-25%;
    display: none;
    width: 1500px;
    height: 1500px;
    background-color: rgba(0, 0, 0, .5);
}
.slider__wrapper{
    transition: 2s;
}
.small__slider__wrapper {
    display: flex;
    height: 200px;
}
.big__image__wrapper{
    display: flex;
    height: 800px;
    z-index: 1500px;
    transition: 2s;
}
.small__slider__item {
    padding:  5px 10px;
    flex: 0 0 20%;
    justify-content: space-between;
    transition: .2s;
    height: 200px;
    width: 200px;
}
.small__slider__item img{
    width: 95%;
    height: auto;
    border-radius: 50px;
    border: 3px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px rgba(0, 0, 0, .19);
    
}

.big__slider__item{
    padding:  40px 120px;
    flex: 0 0 100%;
    justify-content: space-between;
    transition: .2s;
    height: 750px;
    width: 800px;
}

.big__slider__item img{
    width: auto;
    height: 100%;
    margin: -30px;
    border-radius: 160px;
    border: 3px solid #000;
    box-shadow:  -3px 2px 20px 6px rgba(0, 0, 0, 0.32), -2px 15px 40px rgba(100, 200, 0, .5);
    
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
    transition: .9s;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("./img/left.png");
}

.slider__control_right::before {
    background-image: url("./img/right.png");
}


 
