img{
    max-width: 100%;
    height: auto;
}

body{
    background: url('../images/grid.png');
}

.wrap{
    width: 800px;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}
.slider{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;
}

.slider__wrapper{
    display: flex;
    position: relative;
    z-index: 2;
}

.slider__row{
    display: flex;
    transform: translateX(0px);
    transition: 0.3s;
}

.slider__item{
    min-width: 100%;
}

.slider__navigation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slider__nav{
    position: absolute;
    top: 30%;

    background: #eee;
    padding: 5px 10px;
    box-sizing: border-box;

    z-index: 3;
}
.slider__nav.next{
    right: 0px;
}
.slider__nav.prev{
    left: 0px;
}